div.wrapper {
  // max-width: 1200px;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  padding-top: 0;
  background-color: #f9f9f9;
  -webkit-box-shadow: 2px 5px 20px -13px rgba(0,0,0,0.55);
  -moz-box-shadow: 2px 5px 20px -13px rgba(0,0,0,0.55);
  box-shadow: 2px 5px 20px -13px rgba(0,0,0,0.55);
  font-family: 'Montserrat', sans-serif;
  background-size: contain;
  background-position: 500px 800px;
  background-position: 600px bottom;
  background-repeat: no-repeat;
  padding-bottom: 120px;
  padding-bottom: 47px;
  min-height: 100vh;
}


//Block wrapper

.view-block-wrapper {

  max-width: inherit;
  padding-bottom: 60px;
  // margin-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;

  .view-wrapper {
    width: 100%;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
      padding: 25px;
      max-width: 1200px;
      margin: 0 auto;
    }

  }
}
