header {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
      position: fixed;
    /* margin-top: 50px; */
    z-index: 10;
    
  box-sizing: border-box;
  // max-width: 90%;
  margin: 0;
  width: 100%;
  min-height: 80px;
  margin: 0 auto;
  background-color: #2CACFB;
  background-color: #FFF;
  color: white;
  padding: 20px;
  // border: 1px solid #DDD;
  -webkit-box-shadow: 2px 5px 20px -13px rgba(0,0,0,0.55);
  -moz-box-shadow: 2px 5px 20px -13px rgba(0,0,0,0.55);
  box-shadow: 2px 5px 20px -13px rgba(0,0,0,0.55);
}
.header-container a {
  color: white;
  color: #2CACFB;
}
.logo-branding {
  color: #FB5C64;
  color: black;
  color: #9c2ac7;
  // color: #4d71ff;
  color: #80d418;
  // margin-top
  font-size: 36px;
  font-weight: bold;
  float: left;
  margin-top: 10px;
  margin-left: 8px;
  @media screen and (min-width: 565px) {
      margin-top: 10px;
      margin-left: inherit;
  }
}
.main-menu {
  text-align:center;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.main-menu a {
  color: #a9a9a9;
}
@media screen and (min-width: 565px) {
  .header-container {
    // background-color: #102D64;
  }
  .main-menu {
    text-align:right;
    display: inline-block;
    width: 80%;
    // background-color: white;
    float: right;
    margin-top:10px;
  }
}
