.title {
    margin: 20px 30px;
    text-align: center;
    margin: 20px 0px;
    line-height: 1.6;
    color:black;
    font-weight: 100;
    font-size: 36px;
    span {
        // color: rgb(46, 0, 212);
    }
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

