.view {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  margin: 40px 0;
  padding: 20px;
  padding-bottom: 50px;
  position: relative;
}

.view-popular {

  .view-wrapper {
    width: 100%;
  }


  .view-title {
    text-align: center;
    margin: 20px 0px;

    line-height: 1.6;
    color: #888888;

    @media screen and (min-width: 768px) {
      text-align: left;
      margin: 20px 30px;
    }

    span {
      color: #2CACFB;
    }

  }

  .views-row {
    display: inline-block;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    position: relative;
    padding: 5px;

    &:hover {
      background-color: inherit;
      color: black;
    }

    @media screen and (min-width: 768px) {
      width: 33.3333%;
      width: 28.9333%;
      width: 28.3333%;
      margin-left: 0px;
      margin-right: 0px;
    }
    @media screen and (min-width:1024px) {
      width: 29.43%;
      /* margin-right: 15px; */
      margin-left: inherit;
      margin-right: inherit;
    }
    @media screen and (min-width:1200px) {
      width: 32.53%;
      /* margin-right: 15px; */
      margin-left: inherit;
      margin-right: inherit;
    }

    .field-type {
      font-weight: 500;
      font-size: 14px;
      margin-top: 10px;
      font-weight: 500;
      font-size: 14px;
      margin-top: 10px;
      position: absolute;
      bottom: 90px;
      right: 28px;
      background-color: #00b7ff;
      padding: 20px;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .field-title {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 700;
      display: inline-block;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    .field-image img{
      width: 100%;
      height: auto;
    }
  }

}
